<md-tab-group>
    <md-tab label="Login">
    	<div class="hold-form login">
	    	<form #form="ngForm" (ngSubmit)="loginSubmit(form.value)">
				<h2>{{loginTitle}}</h2>
				<md-input-container>
				 	<input mdInput type="email" placeholder="Email" name="email" ngModel required>
				 	<!-- <md-hint *ngIf="formLogin.value" [ngStyle]="{'color': 'red'}" align="start">Email атата</md-hint> -->
				</md-input-container>
				<md-input-container>
				 	<input mdInput type="password" placeholder="Password" name="password" ngModel required minlength="4">
				</md-input-container>
				<div class="hold-button">
					<button type="submit" md-raised-button [disabled]="!form.valid">Login</button>
				</div>
			</form>
		</div>
    </md-tab>
    <md-tab label="Registration">
    	<div class="hold-form">
	    	<form [formGroup]="formRegistration">
				<h2>{{regTitle}}</h2>
				<md-input-container>
				 	<input mdInput type="email" placeholder="Email" formControlName="email" required>
				 	<md-hint *ngIf="formRegistration.controls['email'].dirty && formRegistration.controls['email'].invalid" [ngStyle]="{'color': 'red'}" align="start">Не валидный Email</md-hint>
				</md-input-container>
				<div formGroupName="passwordGroup" class="pass-holder">
					<md-input-container>
					 	<input mdInput type="password" placeholder="Password" formControlName="password" required>
					</md-input-container>
					<md-input-container>
					 	<input mdInput type="password" placeholder="Confirm password" formControlName="pswconfirm" required>
					 	<md-hint class="hint" [ngStyle]="{'color': 'red'}" align="start">Пароли не совпадают</md-hint>
					</md-input-container>
				</div>
				<div class="hold-checkbox">
					<md-slide-toggle formControlName="agree" required>I Agree!</md-slide-toggle>
				</div>
				<div class="hold-button">
					<button md-raised-button [disabled]="!formRegistration.valid">Register</button>
				</div>
			</form>
		</div>
    </md-tab>
</md-tab-group>


